.tick--main  {
  stroke: var(--base00);
  stroke-width: 1;
}

.tick--primary {
  stroke: var(--base00);
  stroke-width: 1;
  opacity: 0.3;
}

.tick--secondary {
  stroke: var(--base00);
  stroke-width: 1;
  opacity: 0.3;
  stroke-dasharray: 3 2;
}
.label {
  font-family: 'monospace';
  font-size: 10px;
}
.label--middle {
  text-anchor: middle;
}
.label--start {
  text-anchor: start;
}

.label--end {
  text-anchor: end;
}

.axis--main {
  fill: none;
  stroke: var(--base00);
  stroke-width: 2;
}